body {
	margin: 0;
}
/*
Font import thru @font-face
I had problem with it not using the font
properly byt '../' on the beginning of
the link
*/
@font-face {
	font-family: 'bigheroFont';
	src: url(../css/bighero-v4.ttf);
}
h1 {
	font-family: bigheroFont;
}
h2 {
	font-family: bigheroFont;

}
header {
	background-color: #a72321;
	margin: 0, auto;
	padding: 0, auto;
	font-size: 30px;
}

header img {
	width: 300px;
	border-radius: 10px 10px 180px 180px;
	border: 30px double white;
}